
.biojs_msa_labels {
	font-size: 11px;
}

.biojs_msa_headers>div>span,
.biojs_msa_labels>span {
	display: inline-block;
	overflow: hidden;
	padding: 0 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.link-ucsc {
	margin: 0 8px;
}

.image-file img {
	max-width: 100%;
	margin: 20px 0;
	border: none;
}

.element-msg {
	margin: 10px 10px 5px;
}

.msa-export {
	margin: 0 10px;
}