
.s-position-status {
	margin: 1em;
	line-height: 1.4em;
}

.s-position-hint {
	float: right;
}

.s-position-headers {
	border-top: 1px solid #ddc;
	border-bottom: 1px solid #ddc;
	background: #f8f8f2;
}

.s-position-row:nth-child(even)>.s-position-cells{
	background: #fcfcf9;
}

.s-position-row:last-child{
	border-bottom: 1px solid #ddc;
}

.s-position-row:hover>.s-position-cells {
	background: #def;
	cursor: pointer;
}

.s-position-headers,
.s-position-row {
	display: inline-block;
	white-space: nowrap;
	border-left: 1px solid #ddc;
}

.s-pos-header,
.s-pos-cell {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 120px;
	height: 2em;
	padding: 0 8px;
	border-right: 1px solid #ddc;
	line-height: 2em;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.s-pos-header {
	height: 3em;
	line-height: 3em;
	font-weight: bold;
	color: #663;
}

.s-sorter {
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -12px;
	line-height: 12px;
	font-size: 11px;
	font-weight: normal;
	font-family: arial;
	color: #ddc;
	cursor: pointer;
}

.s-sorter>.s-asc:before {
	content: '\25b2';
}

.s-sorter>.s-desc:before {
	content: '\25bc';
}

.s-sorter>.s-current {
	color: #9C0063;
}

.s-sorter>div:hover {
	color: #663;
}

.s-col-length {width: 100px}
.s-col-score {width: 100px}
.s-col-select {width: 100px; text-align: center}
