
.s-position-status {
	margin: 1em;
	line-height: 1.4em;
}

.s-position-hint {
	float: right;
}

.s-position-headers {
	border-top: 1px solid #ddc;
	border-bottom: 1px solid #ddc;
	background: #f8f8f2;
}

.s-position-row:nth-child(even)>.s-position-cells{
	background: #fcfcf9;
}

.s-position-row:last-child{
	border-bottom: 1px solid #ddc;
}

.s-position-row:hover>.s-position-cells {
	background: #def;
	cursor: pointer;
}

.s-position-headers,
.s-position-row {
	display: block;
	width: 100%;
	white-space: nowrap;
	border-left: 1px solid #ddc;
	border-right: 1px solid #ddc;
}

.s-pos-header,
.s-pos-cell {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 2em;
	padding: 0 8px;
	border-right: 1px solid #ddc;
	line-height: 2em;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.s-pos-header {
	height: 3em;
	line-height: 3em;
	font-weight: bold;
	color: #663;
}

.s-sorter {
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -12px;
	line-height: 12px;
	font-size: 11px;
	font-weight: normal;
	font-family: arial;
	color: #ddc;
	cursor: pointer;
}

.s-sorter>.s-asc:before {
	content: '\25b2';
}

.s-sorter>.s-desc:before {
	content: '\25bc';
}

.s-sorter>.s-current {
	color: #9C0063;
}

.s-sorter>div:hover {
	color: #663;
}


.s-pos-header,
.s-pos-cell {
	width: 12%;
}

.s-col-chrom {width: 8%}
.s-col-length {width: 9%}
.s-col-score {width: 9%}
.s-col-chromatin {width: 9%}
.s-col-dnase {width: 7%; text-align: center}
.s-col-select {width: 4%; text-align: center; border-right: none}

.s-col-dnase span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #666;
	border-radius: 2px;
}

.s-col-chromatin div {
	display: inline-block;
	width: 45px;
	line-height: 10px;
	white-space: normal;
	vertical-align: middle;
}

.s-col-chromatin span {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #ccc;
	border: 1px solid #666;
	margin-right: 1px;
}

span.chromatin-1  {background: #ff0000}
span.chromatin-2  {background: #ff6969}
span.chromatin-3  {background: #cf0bc6}
span.chromatin-4  {background: #faca00}
span.chromatin-5  {background: #faca00}
span.chromatin-6  {background: #fffc04}
span.chromatin-7  {background: #fffc04}
span.chromatin-8  {background: #0abefe}
span.chromatin-9  {background: #00b050}
span.chromatin-10 {background: #00b050}
span.chromatin-11 {background: #99ff66}
span.chromatin-12 {background: #7f7f7f}
span.chromatin-13 {background: #f5f5f5}
span.chromatin-14 {background: #f5f5f5}
span.chromatin-15 {background: #f5f5f5}
