
<div class="element-msg">
	CEGA_ID: <a href="?clade={{clade}}&species={{species}}&request={{block}}.{{element}}">{{block}}.{{element}}</a>
	<a class="msa-export" href="javascript:app.msaExportAll('{{block}}_{{element}}')" title="Download all as FASTA">Download alignment</a>
	<a class="msa-export" href="javascript:app.msaExportImage('{{block}}_{{element}}')" title="Export current view as PNG">Export image</a>
</div>

<div class="msa">
	<div class="msa-widget"></div>
</div>

{{#if image_file}}
	<div class="image-file">
		<a href="{{link_UCSC}}" target="_new"><img src="{{image_file}}"/></a>
	</div>
{{else}}
	<div class="element-msg">
		No screenshot currently available for this element. <a href="{{link_UCSC}}" target="_new">See it on UCSC</a>
	</div>
{{/if}}

<div class="element-msg">
	<a href="/block?clade={{clade}}&species={{species}}&block={{block}}" target="_new">View all elements from this synteny block</a>
</div>
<br>
