
<div class="element-msg">
	{{block}}.{{element}} <a href="/block?clade={{clade}}&species={{species}}&block={{block}}" target="_new">View all elements from this synteny block</a>
</div>

<div class="msa">
	<div class="msa-widget"></div>
</div>

{{#if image_file}}
	<div class="image-file">
		<a href="{{link_UCSC}}" target="_new"><img src="{{image_file}}"/></a>
	</div>
{{else}}
	<div class="element-msg">
		No screenshot currently available for this element. <a href="{{link_UCSC}}" target="_new">See it on UCSC</a>
	</div>
{{/if}}
