
<div class="s-position-status">
	{{#if count}}

		<div class="s-position-buttons">

			{{#if link_UCSC_region}}
				<a class="s-button" href="{{link_UCSC_region}}" target="_new">UCSC</a>
			{{/if}}

			<div class="s-button s-download-button">
				<div class="s-button-text">Download</div>
				<div class="s-button-menu">
					<a id="download-fasta" target="_new">FASTA</a>
					<a id="download-bed" target="_new">BED</a>
					<a id="download-fastalign" target="_new">FASTA Alignment</a>
				</div>
			</div>
		</div>

		Search results: {{request}} : {{plural count 'element' 'elements'}}
	{{else}}
		No results found for {{request}}. {{message}}
	{{/if}}

	{{#if data}}
		<div class="s-position-headers-wrap">
			<div class="s-position-headers">
					  <div class="s-pos-header s-col-position">Position {{sorter 'start'}}
				</div><div class="s-pos-header s-col-length">Length {{sorter 'length'}}
				</div><div class="s-pos-header s-col-score">Score {{sorter 'score'}}
					<a href="?page=help#score" class="s-help" title="help" onclick="app.href(event, this)"></a>
				</div><div class="s-pos-header s-col-feature">Status
					<a href="?page=help#status" class="s-help" title="help" onclick="app.href(event, this)"></a>
				</div><div class="s-pos-header s-col-chromatin">Chromatin HMM
					<a href="?page=help#chromatin_hmm" class="s-help" title="help" onclick="app.href(event, this)"></a>
				</div><div class="s-pos-header s-col-dnase">DNase
					<a href="?page=help#dnase" class="s-help" title="help" onclick="app.href(event, this)"></a>
				</div><div class="s-pos-header s-col-tfbs">TFBS
					<a href="?page=help#tfbs" class="s-help" title="help" onclick="app.href(event, this)"></a>
				</div><div class="s-pos-header s-col-otherdb">Other DB
					<a href="?page=help#otherdb" class="s-help" title="help" onclick="app.href(event, this)"></a>
				</div><div class="s-pos-header s-col-select"><input type="checkbox" data-id="all">
				</div>
			</div>
		</div>
	{{/if}}
</div>

<div class="s-position-scroll" onscroll="app.scrollPositions()">

	<div id="positions"></div>

	<br>
	<br>
	<br>
</div>
