
<div class="s-position-status">
	Search results: {{request}} : {{counts}} elements
</div>

<div class="s-position-headers">
	<div class="s-pos-header s-col-chrom">Chrom.</div>
	<div class="s-pos-header s-col-start">Start</div>
	<div class="s-pos-header s-col-stop">Stop</div>
	<div class="s-pos-header s-col-length">Length</div>
	<div class="s-pos-header s-col-score">Score</div>
	<div class="s-pos-header s-col-feature">Status</div>
	<div class="s-pos-header s-col-select"></div>
</div>

{{#each data}}
	<div class="s-position-row">
		<div class="s-pos-cell s-col-chrom">{{chrom}}</div>
		<div class="s-pos-cell s-col-start">{{start}}</div>
		<div class="s-pos-cell s-col-stop">{{stop}}</div>
		<div class="s-pos-cell s-col-length">{{length start stop}}</div>
		<div class="s-pos-cell s-col-score">{{score}}</div>
		<div class="s-pos-cell s-col-feature">{{feature}}</div>
		<div class="s-pos-cell s-col-select"></div>
	</div>
{{/each}}
