
<div class="s-position-status">
	Search results: {{request}} : {{count}} elements
</div>

{{#if data}}
	<div class="s-position-headers">
			  <div class="s-pos-header s-col-chrom">Chrom.
		</div><div class="s-pos-header s-col-start">Start
		</div><div class="s-pos-header s-col-stop">Stop
		</div><div class="s-pos-header s-col-length">Length
		</div><div class="s-pos-header s-col-score">Score
		</div><div class="s-pos-header s-col-feature">Status
		</div><div class="s-pos-header s-col-select"><input type="checkbox">
		</div>
	</div>
{{/if}}

<div id="positions"></div>

<br>
<br>
<br>