
{{#each .}}
	<div class="s-position-row">
		<div class="s-position-cells">
				  <div class="s-pos-cell s-col-chrom">{{chrom}}
			</div><div class="s-pos-cell s-col-start">{{start}}
			</div><div class="s-pos-cell s-col-stop">{{stop}}
			</div><div class="s-pos-cell s-col-length">{{subtract start stop}}
			</div><div class="s-pos-cell s-col-score">{{score}}
			</div><div class="s-pos-cell s-col-feature">{{feature}}
			</div><div class="s-pos-cell s-col-chromatin">
				 <div><span class="{{chromatin gm12878}}" title="gm12878: {{gm12878}}">
				</span><span class="{{chromatin h1hesc}}" title="h1hesc: {{h1hesc}}">
				</span><span class="{{chromatin hepg2}}" title="hepg2: {{hepg2}}">
				</span><span class="{{chromatin hmec}}" title="hmec: {{hmec}}">
				</span><span class="{{chromatin hsmm}}" title="hsmm: {{hsmm}}">
				</span><span class="{{chromatin huvec}}" title="huvec: {{huvec}}">
				</span><span class="{{chromatin k562}}" title="k562: {{k562}}">
				</span><span class="{{chromatin nhek}}" title="nhek: {{nhek}}">
				</span><span class="{{chromatin nhlf}}" title="nhlf: {{nhlf}}">
				</span></div>
			</div><div class="s-pos-cell s-col-dnase">
				<span style="background:{{grey dnase}}" title="{{dnase}}">
			</div><div class="s-pos-cell s-col-tfbs">{{tfbs}}
			</div><div class="s-pos-cell s-col-select"><input type="checkbox">
			</div>
		</div>
		<div class="s-position-details" data-block="{{block}}" data-element="{{element}}">
		</div>
	</div>
{{/each}}
