
{{#each data}}
	<div class="s-position-row">
		<div class="s-position-cells">
				  <div class="s-pos-cell s-col-position">{{chrom}}:{{start}}-{{stop}}
			</div><div class="s-pos-cell s-col-length">{{subtract start stop}}
			</div><div class="s-pos-cell s-col-score">{{score}}
			</div><div class="s-pos-cell s-col-feature">{{feature}}
			</div><div class="s-pos-cell s-col-chromatin">
				 <div><span class="{{chromatin gm12878}}" title="gm12878: {{gm12878}}">
				</span><span class="{{chromatin h1hesc}}" title="h1hesc: {{h1hesc}}">
				</span><span class="{{chromatin hepg2}}" title="hepg2: {{hepg2}}">
				</span><span class="{{chromatin hmec}}" title="hmec: {{hmec}}">
				</span><span class="{{chromatin hsmm}}" title="hsmm: {{hsmm}}">
				</span><span class="{{chromatin huvec}}" title="huvec: {{huvec}}">
				</span><span class="{{chromatin k562}}" title="k562: {{k562}}">
				</span><span class="{{chromatin nhek}}" title="nhek: {{nhek}}">
				</span><span class="{{chromatin nhlf}}" title="nhlf: {{nhlf}}">
				</span></div>
			</div><div class="s-pos-cell s-col-dnase">
				<span style="background:{{grey dnase}}" title="{{dnase}}">
			</div><div class="s-pos-cell s-col-tfbs">{{tfbs}}
			</div><div class="s-pos-cell s-col-otherdb">
				{{#if vista}}<a class="otherdb-vista" href="http://enhancer.lbl.gov/cgi-bin/imagedb3.pl?form=presentation&show=1&organism_id=1&experiment_id={{vista}}" title="Vista Enhancer Database" target="_blank">V</a>{{/if}}
				{{#if condor}}<a class="otherdb-condor" href="http://condor.nimr.mrc.ac.uk/cgi-bin/show_cne.cgi?cneid={{condor}}" title="Condor database" target="_blank">C</a>{{/if}}
				{{#if ucne}}<a class="otherdb-ucne" href="http://ccg.vital-it.ch/UCNEbase/view.php?data=ucne&entry={{ucne}}" title="UCNEbase" target="_blank">U</a>{{/if}}
			</div><div class="s-pos-cell s-col-select">
				<input type="checkbox" data-id="{{block}}.{{element}}" {{#if @root.all}}checked{{/if}}>
			</div>
		</div>
		<div class="s-position-details" data-block="{{block}}" data-element="{{element}}">
		</div>
	</div>
{{/each}}
